{% extends 'index.html' %}
{% load static %}

{% block conte %}
<div class="producto">
    {% for i in mas %}
    <img src="{{i.Imagen.url}}" alt="">
    <div class="info">
        <h1>{{i.Nombre}}</h1>
        <h3>${{i.Precio}}</h3>
        <div class="overflow-auto" style="height: 200px;">
            <p id="scrollspyHeading1">{{i.Descripcion}}</p>
        </div>

        <div class="button-container"></div>
            <a href="#" class="btn btn-primary" id="compra">Comprar</a>
            <a href="#" class="btn btn-outline-info" id="aa">Añadir al carrito</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}